{% if site.google_analytics %}
<!-- Default Cookie Consent Form config -->
<script data-cookieconsent="ignore">
  window.dataLayer = window.dataLayer || [];
  function gtag() {
      dataLayer.push(arguments);
  }
  gtag("consent", "default", {
      ad_personalization: "denied",
      ad_storage: "denied",
      ad_user_data: "denied",
      analytics_storage: "denied",
      functionality_storage: "denied",
      personalization_storage: "denied",
      security_storage: "granted",
      wait_for_update: 500,
  });
  gtag("set", "ads_data_redaction", true);
  gtag("set", "url_passthrough", false);
</script>

<!-- Google tag (gtag.js) -->
<script
  async
  src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"
></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());
  gtag("config", "{{ site.google_analytics }}");

  // Optional: Honor Do Not Track in supporting browsers
  if (navigator.doNotTrack == "1" || window.doNotTrack == "1") {
    window["ga-disable-{{ site.google_analytics }}"] = true;
  }
</script>
{% endif %} {% seo %}

<meta name="robots" content="index, follow" />
<link rel="canonical" href="{{ page.url | absolute_url }}" />

<style>.pdf-only { display: none !important; }</style>
