<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- if page.layout == "post" -%}
  <title>{{ page.title | escape }} — {{ site.author.name | escape }}</title>
  {%- else -%}
  <title>{{ page.title | default: site.title | escape }}</title>
  {%- endif -%}
  {%- seo title=false -%}
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  {%- feed_meta -%}

  <!-- Load your custom head content here -->
  {%- include head-custom.html -%}
</head>
