<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  {%- assign reading_layout = false -%}
  {%- if page.layout == "post" or page.layout == "home" -%}
    {%- assign reading_layout = true -%}
  {%- endif -%}
  <body{% if reading_layout %} class="layout-reading"{% endif %}>

    <a class="skip-link" href="#main-content">Skip to content</a>

    {%- include header.html -%}

    <main id="main-content" class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
