---
layout: default
---

{%- assign paginator = page.paginator -%}
{%- if paginator -%}
  {%- assign listed_posts = paginator.posts -%}
{%- else -%}
  {%- assign listed_posts = site.posts -%}
{%- endif -%}

<div class="home reading-panel">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.nav_title | default: page.title | escape }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if listed_posts.size > 0 -%}
    <ul class="post-list">
      {%- for post in listed_posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if post.description -%}
          <p class="post-description">{{ post.description | escape }}</p>
        {%- elsif site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
        <span class="post-readmore" aria-hidden="true">Read the post <span class="post-readmore-arrow">&rarr;</span></span>
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

  {%- if paginator and paginator.total_pages > 1 -%}
    <nav class="post-pagination" aria-label="Blog pages">
      {%- if paginator.previous_page -%}
        <a class="post-pagination-link" rel="prev" href="{{ paginator.previous_page_path | relative_url }}">
          <span aria-hidden="true">&larr;</span> Newer posts
        </a>
      {%- else -%}
        <span class="post-pagination-link is-disabled" aria-hidden="true"><span>&larr;</span> Newer posts</span>
      {%- endif -%}

      <ol class="post-pagination-numbers">
        {%- for entry in paginator.page_paths -%}
          {%- assign num = forloop.index -%}
          <li>
            {%- if num == paginator.page -%}
              <span class="post-pagination-number is-current" aria-current="page">{{ num }}</span>
            {%- else -%}
              <a class="post-pagination-number" href="{{ entry | relative_url }}" aria-label="Page {{ num }}">{{ num }}</a>
            {%- endif -%}
          </li>
        {%- endfor -%}
      </ol>

      <span class="post-pagination-status">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>

      {%- if paginator.next_page -%}
        <a class="post-pagination-link" rel="next" href="{{ paginator.next_page_path | relative_url }}">
          Older posts <span aria-hidden="true">&rarr;</span>
        </a>
      {%- else -%}
        <span class="post-pagination-link is-disabled" aria-hidden="true">Older posts <span>&rarr;</span></span>
      {%- endif -%}
    </nav>
  {%- endif -%}

</div>
